body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

#framesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.frame {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #ddd;
    background-size: cover;
    background-position: center;
}
